body {
    font-family: 'Roboto Condensed', sans-serif;
    background: #EFEFEF;
}

body .bread-pitt {
    margin: 12px 0px;
}

body .icon-type {
    height: 40px;
    width: 40px;
}

body .info-numbers {
    margin-top: 50px;
}

body .info-text h2 {
    font-size: 16px;
}

body .content-right .card {
    margin-bottom: 20px;
}

body .stats {
    margin-top: 42px;
}

body .stats .row {
    margin-bottom: 10px;
}