<<<<<<< HEAD
body .bread-pitt {
    margin: 12px 0px;
}

body .icon-type {
    height: 30px;
=======
body .evos {
    color: white;
}

body .types {
    max-width: 10%;
>>>>>>> e704ac4adb23b7dc404663e307e99087f21b6c35
}