body {
    font-family: 'Roboto Condensed', sans-serif;
    background: #EFEFEF;
}

body .bread-pitt {
    margin: 12px 0px;
}

body .icon-type {
    height: 40px;
    width: 40px;
}

body .info-numbers {
    margin-top: 50px;
}

body .info-text h2 {
    font-size: 16px;
}

body .content-right .card {
    margin-bottom: 20px;
}

body .stats {
    margin-top: 42px;
}

body .stats .row {
    margin-bottom: 10px;
}

body .search-card {
    margin-bottom: 15px;
}

body .search-card a{
    text-decoration: none;
    color: #000000;
}

body .new-info textarea {
    border: 1px solid #CFD4D9;
    resize: none;
}

body .types {
    border: 1px solid #999999;
    margin-top: 19px;
    margin-bottom: 13px;
}

body .types input {
    margin-right: 10px;
}

body .statistics textarea{
    border: 1px solid #CFD4D9;
    resize: none;
}

body .new-image {
    border-radius: 600%;
}

body .insert-evo {
    margin-left: 33px;
    margin-top: 15px;
}

body .insert-evo textarea{
    border: 1px solid #CFD4D9;
    resize: none; 
}

body .description textarea {
    border: 1px solid #CFD4D9;
    resize: none;
    width: 100%;
}